/* * {
  touch-action: none;
} */

@font-face {
  font-family: "ChelaOne";
  src: url(Assets/UI/ChelaOne-Regular.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: ChelaOne, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  --grid-gap: min(1rem, 10vh, 10vw);
  --border-radius: 1rem;
  --font-size: min(3rem, 7.5vh);

  --text-color: #3f2c20;
  --text-color-light: #c5925a;
  --text-color-heading: #4c4645;
  user-select: none;

  color: var(--text-color);
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

canvas#game-canvas {
  touch-action: auto;
}

canvas#eumling-canvas {
  width: 100%;
  height: calc(100vh - var(--grid-gap) * 2);
  border-radius: var(--border-radius);
}

#eumling-upgrade-overlay {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
}

#eumling-upgrade-overlay-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 33% 66%;
  gap: var(--grid-gap);
  padding: var(--grid-gap);
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blur-bg {
  backdrop-filter: blur(40px);
}

div.overlay:not(.no-interact) {
  background-color: rgba(255, 255, 255, 0.2);
}

div.overlay.no-interact {
  touch-action: none;
  pointer-events: none;
  background: transparent;
}

.hidden {
  display: none !important;
}


div.close-button {
  position: absolute;
  z-index: 1;
  top: var(--grid-gap);
  right: var(--grid-gap);
  font-size: var(--font-size);
}

.interactable {
  pointer-events: all !important;
}

#start-screen {
  overflow: hidden;
}

#start-screen-foreground {
  display: grid;
  place-items: center;
  height: 100vh;
}

#start-screen-foreground.with-logo {
  grid-template-rows: 50vh 50vh;
}

#start-screen img.logo {
  animation: scaleUp 0.75s ease-in-out;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  padding: 1em;
  filter: drop-shadow(1vh 1vh 1vh black);
}

div.start-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: 0 100%;
  background-size: cover;
}

.start-background-rock {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 50%;
  z-index: 1;
}

.start-background-bush {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 30%;
  z-index: 1;
}

.start-background-eumling {
  position: absolute;
  bottom: 0;
  transition: left 10s linear;
  max-height: 30%;
}

.start-background-eumling.reverse {
  transform: rotateY(180deg);
}

#start-buttons>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size);
  z-index: 1;
  position: relative;
}

#start-loaded {
  scale: 0;
  animation: scaleUp 0.75s 0.5s ease-in-out forwards;
}

.button,
button {
  font-size: inherit;
  color: var(--text-color);
  cursor: pointer;
  margin: 0.25em 0.25em;
  padding: 0.5em 1em;
  background-color: transparent;
  display: grid;
  place-items: center;

  border-image-source: url("Assets/UI/MainMenu/Button.svg");
  border-image-slice: 27% fill;
  border-image-repeat: stretch;
  border-image-width: 4rem;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.icon {
  width: 2em;
  height: 2em;
}

.button.icon>img {
  width: 1em;
  height: 1em;
}

#game-overlay {
  display: flex;
  place-items: end;
  justify-content: center;
}

#workbench-upgrade-overlay-wrapper,
#workbench-info-overlay-wrapper {
  padding: var(--grid-gap);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title" "options";
  font-size: var(--font-size);
  /* place-items: center; */
  justify-content: center;
  text-align: center;
}

#workbench-info-overlay-wrapper {
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "title" "options" "remove";
}

#workbench-options-wrapper,
#workbench-info-categories {
  display: flex;
  gap: var(--grid-gap);
  justify-content: center;
  align-items: center;
}

#workbench-options-title {
  grid-area: title;
  text-align: center;
  margin: 0.5em;
}

.workbench-option,
.workbench-category {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 30vw;
  padding: 1em;
}

.workbench-category {
  filter: brightness(0) saturate(100%) invert(46%) sepia(11%) saturate(189%) hue-rotate(321deg) brightness(88%) contrast(81%);
  ;
}

.workbench-category:last-of-type {
  filter: brightness(0) saturate(100%) invert(22%) sepia(2%) saturate(2096%) hue-rotate(321deg) brightness(106%) contrast(85%);
}

.workbench-category>img {
  max-height: calc(100% - 1em);
}

.workbench-category-divider {
  font-size: var(--font-size);
  width: 5em;
  height: 0.5em;
  background-color: #726c6b;
}

.workbench-info-text {
  color: #726c6b;
  padding: 0 1em;
  max-width: max(33vw, 100%);
}

#eumling-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: min(var(--font-size), 5vw);
}

#eumling-traits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--grid-gap);
}

#eumling-name-wrapper {
  margin-top: 1em;
}

.eumling-trait {
  padding: 0.75em;
  text-align: center;
  display: grid;
  place-items: center;
  max-width: 33vw;
  max-height: 33vh;
}

.eumling-trait.empty {
  opacity: 0.25;
}

.workbench-option img,
.eumling-trait img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

#achievement-overlay {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: start;
  padding: var(--grid-gap);
  gap: var(--grid-gap);
  left: 0;
  top: calc(var(--font-size) * 2 + var(--grid-gap) * 2);
  position: absolute;
}

#achievement-list {
  display: grid;
  gap: var(--grid-gap);
  padding: var(--grid-gap);
  width: calc(100% - 10 * var(--grid-gap));
  max-height: 100%;
  overflow-y: scroll;
  padding-bottom: 20vh;
}


.achievement,
.achievement-popup {
  padding: var(--grid-gap);
  gap: var(--grid-gap);
  display: grid;
}

.achievement {
  grid-template-areas: "icon title divider description reward";
  grid-template-columns: auto 1fr 0.3em 3fr auto;
  opacity: 0.6;
}

.achievement.achieved {
  opacity: 1;
}

.achievement.achieved .achievement-reward {
  opacity: 0.2;
}

.achievement-popup {
  grid-template-areas: "title icon" "description icon";
  position: relative;
  cursor: pointer;
  animation: achievement-in 1s forwards ease;
  border-image-outset: 0 0 0 4rem;
}

.achievement-title {
  grid-area: title;
  font-weight: bold;
  text-align: left;
  font-size: larger;
}

.achievement-description {
  grid-area: description;
  text-align: left;
}

.achievement-reward {
  grid-area: reward;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.achievement-icon {
  grid-area: icon;
  max-height: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  width: 4em;
}

.achievement-icon img {
  object-fit: contain;
  height: 100%;
}

.achievement-divider {
  border-radius: var(--border-radius);
  width: 0.3em;
  height: 100%;
  background-color: var(--text-color);
}

.achievement-progress-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
  display: flex;
  padding: var(--grid-gap);
  gap: var(--grid-gap);
  font-size: var(--font-size);
  border-image-outset: 0 4rem 4rem 4rem;
  --totalPoints: 100;
  --pointsUntilEumling: 20;
}

.achievement-points-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: var(--grid-gap); */
  justify-content: center;
  align-items: center;
}

.achievement-points-wrapper img {
  width: 2em;
}

.achievement-progress-bar-wrapper {
  --width: 90vw;
  width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  filter: drop-shadow(1px 1px 1px var(--text-color-heading));
}

.achievement-progress-bar {
  width: 100%;
  /* background: red; */
  --fill-color: var(--text-color);
  height: 10vh;
}

.achievement-progress-bar-now,
.achievement-progress-bar-plus {
  --fill-color: var(--text-color-light);
  width: 0%;
  transition: width 1s ease-out;
  height: 10vh;
}

.achievement-progress-bar,
.achievement-progress-bar-now {
  height: 10vh;
  background: linear-gradient(to right, var(--fill-color) 99.9%, transparent 99.9%), linear-gradient(to right, transparent 99%, var(--fill-color) 99%, var(--fill-color) 100%, transparent 100%);
  background-position: 0 75%, 0 78%;
  background-size: 100% 5px, calc(var(--pointsUntilEumling) / var(--totalPoints) * var(--width)) 20%;
  background-repeat: no-repeat, repeat-x;
}

#achievement-progress-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#achievement-progress-overlay .achievement-progress-wrapper {
  transition: bottom 1s ease;
  bottom: 0;
}

#achievement-progress-overlay.hide .achievement-progress-wrapper {
  bottom: -20vh;
}

.eumling-plus-icon {
  --eumlingAmount: calc(var(--totalPoints) / var(--pointsUntilEumling));
  position: absolute;
  height: 10vh;
  --width: calc(10vh * 69 / 80);
  width: var(--width);
  left: calc(100% - 100% / var(--eumlingAmount) * var(--id) - var(--width) / 2);
}

.eumling-plus-icon.reached {
  filter: brightness(0) saturate(100%) invert(61%) sepia(54%) saturate(382%) hue-rotate(351deg) brightness(91%) contrast(86%);
}

@keyframes achievement-in {
  0% {
    left: -100%
  }

  100% {
    left: 0%
  }
}

progress {
  width: 100%;
}

#pause-button {
  position: absolute;
  top: var(--grid-gap);
  right: var(--grid-gap);
  font-size: var(--font-size);
}

#achievement-button {
  position: absolute;
  top: var(--grid-gap);
  left: var(--grid-gap);
  font-size: var(--font-size);
}

#fullscreen-button {
  display: none;
  overflow: hidden;
}

#game-info-wrapper {
  top: var(--grid-gap);
  left: var(--grid-gap);
  position: absolute;
  display: flex;
  gap: var(--grid-gap);
  filter: invert(100%);
  font-size: 2em;
}

#game-info-wrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#game-info-wrapper img {
  width: 1em;
}

.flying-point {
  position: absolute;
  transition: left 1s, top 1s;
  transition-timing-function: cubic-bezier(.42, -0.01, .71, -0.24);
  animation: scaleUp 0.5s;
  animation-timing-function: linear(0, 0.402 7.4%, 0.711 15.3%, 0.929 23.7%, 1.008 28.2%, 1.067 33%, 1.099 36.9%, 1.12 41%, 1.13 45.4%, 1.13 50.1%, 1.111 58.5%, 1.019 83.2%, 1.004 91.3%, 1);
  width: 3em;
  height: 3em;
}

@keyframes scaleUp {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

.popover {
  display: grid;
  position: relative;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}


.popover>div:first-child {
  position: relative;
  min-width: 33%;
}

.stone-tablet,
.eumling-trait,
.popover>div:first-child {
  border-image-source: url("Assets/UI/MainMenu/PopUp.svg");
  border-image-slice: 8% fill;
  border-image-repeat: stretch;
  border-image-width: 4rem;

  background-color: transparent;
}

.popover>div:first-child div.close-button {
  top: -1em;
  right: -1em;
}

.popover .h {
  color: var(--text-color-heading);
}


#settings-overlay {
  font-size: var(--font-size);
  padding: var(--grid-gap);
}

.settings-wrapper {
  margin: 1rem;
  max-width: 400px;
}

.settings-category {
  margin: 1rem;
  font-size: 0.7em;
}

.settings-category-name {
  /* margin-left: -1rem; */
  font-size: larger;
  font-weight: bolder;
}

.settings-label {
  margin-left: 1rem;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color);
}

.settings-label:hover {
  --color: var(--text-color-heading);
  --text-color: var(--text-color-heading);
}

.loading-spinner {
  height: 2em;
  width: 2em;
  animation: alternate;
  border: 0.5em solid var(--text-color);
  border-bottom-color: var(--text-color-light);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

.move-cloud {
  animation: move-cloud 100s infinite linear;
}

@keyframes move-cloud {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -100vw;
  }
}

#pause-overlay>div {
  padding: var(--grid-gap);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-size);
}

#pause-overlay details {
  font-size: 0.3em;
}

input[type=range].slider {
  --percent: 100%;
  width: 100%;
  margin: 5.2px 0;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  accent-color: #3f2c20;
}

input[type=range].slider:focus {
  outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--text-color) var(--percent), var(--text-color-light) var(--percent));
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--text-color) var(--percent), var(--text-color-light) var(--percent));
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}

input[type=range].slider::-ms-track {
  background: linear-gradient(to right, var(--text-color) var(--percent), var(--text-color-light) var(--percent));
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}

input[type=range].slider::-ms-fill-upper {
  background: linear-gradient(to right, var(--text-color) var(--percent), var(--text-color-light) var(--percent));
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}

input[type=range].slider::-ms-fill-lower {
  background: linear-gradient(to right, var(--text-color) var(--percent), var(--text-color-light) var(--percent));
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}

input[type=range].slider::-moz-range-track {
  background: linear-gradient(to right, var(--text-color) var(--percent), var(--text-color-light) var(--percent));
  border: 0;
  width: 100%;
  height: 1em;
  cursor: pointer;
}

input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].slider::-moz-range-thumb {
  background-image: url("Assets/UI/Icons/Slider.svg") !important;
  background-size: contain;
  background-repeat: no-repeat !important;
  width: 2em;
  height: 2em;
  background: transparent;
  border: 0;
  cursor: pointer;
  /*
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); */
}

input[type=range].slider::-ms-thumb {
  background-image: url("Assets/UI/Icons/Slider.svg") !important;
  background-size: contain;
  background-repeat: no-repeat !important;
  width: 2em;
  height: 2em;
  background: transparent;
  border: 0;
  cursor: pointer;
  /* -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  margin-top: 0px; */
}

input[type=range].slider::-webkit-slider-thumb {
  background-image: url("Assets/UI/Icons/Slider.svg") !important;
  background-repeat: no-repeat !important;
  margin-top: -5.2px;
  background-size: contain;
  width: 2em;
  height: 2em;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  /*
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%); */
}


/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

@media (pointer: coarse) {
  #fullscreen-button {
    position: absolute;
    right: var(--grid-gap);
    bottom: var(--grid-gap);
    font-size: var(--font-size);
    display: inherit;
  }
}

:fullscreen #fullscreen-button {
  display: none;  
}