/* * {
  touch-action: none;
} */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  --grid-gap: min(1rem, 10vh, 10vw);
  --border-radius: 1rem;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

canvas#game-canvas {
  touch-action: auto;
}

canvas#eumling-canvas {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

#eumling-upgrade-overlay {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
}

#eumling-upgrade-overlay-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 33% 66%;
  gap: var(--grid-gap);
  padding: var(--grid-gap);
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.overlay:not(.no-interact) {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
}

div.overlay.no-interact {
  touch-action: none;
  pointer-events: none;
  background: transparent;
}

div.overlay.hidden {
  display: none !important;
}


.button {
  background-color: white;
  cursor: pointer;
  padding: var(--grid-gap);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
div.close-button {
  position: absolute;
  z-index: 1;
  top: var(--grid-gap);
  right: var(--grid-gap);
  font-size: 2rem;
  width: 2em;
  height: 2em;
}

.interactable {
  pointer-events: all !important;
}

#start-screen {
  display: flex;
  place-items: center;
  align-items: stretch;
}

#start-screen button {
  flex-grow: 1;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  background-color: aliceblue;
  display: grid;
  place-items: center;
}

#game-overlay {
  display: flex;
  place-items: end;
  justify-content: center;
}

#workbench-upgrade-overlay-wrapper,
#workbench-info-overlay-wrapper {
  height: 100vh;
  width: 100vw;
  padding: var(--grid-gap);
  padding-top: 5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title" "options";
}
#workbench-info-overlay-wrapper {
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "title" "options" "remove";
}

#workbench-options-wrapper,
#workbench-info-categories {
  display: flex;
  gap: var(--grid-gap);
  align-content: center;
}

#workbench-options-title {
  grid-area: title;
  text-align: center;
}

.workbench-option,
.workbench-category {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#eumling-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#eumling-traits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--grid-gap);
}

.eumling-trait {
  border-radius: var(--border-radius);
  padding: var(--grid-gap);
  background-color: white;
  text-align: center;
  display: grid;
  place-items: center;
}

.eumling-trait.empty {
  background-color: rgba(255, 255, 255, 0.2);
}

.workbench-option img,
.eumling-trait img {
  object-fit: contain;
  height: 20vh;
  width: 30vw;
}